<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<form name="addsghjhgtudent" method="post" action="/sdbfmn">
    Student:<br>
    <input type="text" name="student"><br>
    Street:<br>
    <input type="text" name="street"><br>
    City:<br>
    <input type="text" name="city"><br>
    State:<br>
    <input type="text" name="state"><br>
    Sex:<br>
    <input type="text" name="sex"><br>
    GPA:<br>
    <input type="text" name="gpa"><br><br>
    <input name="btnLogin" type="submit" value="Submit">

    <script>
        document.getElementById("btnLogin").onclick = function(){
            document.cookie="name = Tuan";
        }
    </script>
</form>
</body>
</html>
