


<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script type="text/javascript" src="/public/javascripts/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <form class="form-signin"  name="signup" method="post" action="/signup">
        <h2 class="form-signin-heading">Sign up</h2>
        <label for="inputUsernamel" class="sr-only">Username</label>
        <input name="username" type="username" id="inputEmail" class="form-control" placeholder="User name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputEmail" class="sr-only">Email</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email">

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="singup">Sign up</button>
    </form>

</div> <!-- /container -->

</body>
</html>
